<div class="container">
  <h2>{{ "MY_HEROES" | translate }}</h2>
  <button
    mat-raised-button
    color="accent"
    type="button"
    (click)="goCreateHero()"
  >
    {{ "CREATE_HERO" | translate }}
  </button>

  <div fxLayout="row wrap" fxLayoutGap.sm="">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let hero of heroes$ | async; trackBy: trackById"
    >
      <app-hero-card [hero]="hero" (onDelete)="onHeroAction()"></app-hero-card>
    </div>
  </div>
</div>
