/* AppComponent's private CSS styles */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link{
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  border-radius: 4px;
}

.settings-container{
  margin-left: 1rem;
  margin-right: 1rem;
}

.dark-mode-slide{
  margin-left: 1rem;
  margin-right: 1rem;
}

.dark-mode-icon{
  color: var(--text-primary);
}
