<div class="container">
  <div *ngIf="messages$ | async as messages">
    <div *ngIf="messages.length">
      <h2>{{ "MESSAGES" | translate }}</h2>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="clear"
        (click)="messageService.clear()"
      >
        {{ "CLEAR_MESSAGES" | translate }}
      </button>
      <mat-list role="list">
        <mat-list-item *ngFor="let message of messages" role="listitem">
          <p>
            {{ message }}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
